header{
  height: 80px;
  //box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  .wrapper{
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      height: 100%;
      img{
        height: 100%;
        padding: 10px;
        object-fit: contain;
      }
    }
    .menu{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li{
        a{
          text-decoration: none;
          margin-left:10px;
          color: var(--text-1);
          font-weight: 500;
          transition: all .2s ease;
          &:hover{
            transition: all .2s ease;
            color: var(--theme);
          }
        }
      }
    }
  }
}