.sidenav{
  width: 300px;
  background-color: var(--background);
  height: 100%;
  padding:25px 15px;
  .avatar-wrapper{
    width: 100%;
    border-radius: 10px;
    img{
      border-radius: 10px;
      max-width: 100%;
      object-fit: contain;
    }
  }
}